<html xmlns:th="https://thymeleaf.org">
<head>
<title>Index Page</title>
</head>
<link rel="stylesheet" type="text/css"
	th:href="@{/templates/static/css/style.css}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<body style="background-image: url('/templates/images/Background.jpg');  background-repeat: no-repeat;">
<script type="text/javascript">
$(function() {
    $('#custId').on('keypress', function(e) {
        if (e.which == 32){
            console.log('Space Detected');
            return false;
        }
    });
});
</script>
	<div class="register-photo">
		<div class="form-container">
			<form class="login-form" action="user" method="GET">
				<div class="text-center">
					<img src="/templates/images/logo.png" width="90">
				</div>
				<h1 class="text-center">
					<strong> WELCOME </strong>
				</h1>
				<h3 class="text-center">
					<strong> Sign In </strong>
				</h3>
				<div class="form-group">
					<div class="text-center">
						<input type="text" class="form-control" name="custId" id="custId"
							placeholder="Enter Customer ID" required></input>
						<p class="error"
							th:text="${#strings.defaultString(errorMessage,'')}"></p>
					</div>

					<div class="text-center">
						<input type="submit"
							class="form-control btn btn-primary"
							value="Submit"></input>
					</div>
				</div>
			</form>
		</div>
	</div>

</body>
</html>
